html{
    font: 112.5%/1.45em georgia,serif;
    box-sizing: border-box;
    min-height: 100%;
}

body{
    color: #212121;
    font-family: Roboto,Helvetica,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    font-kerning: normal;
    -ms-font-feature-settings: "kern","liga","clig","calt";
    font-feature-settings: "kern","liga","clig","calt";
}
*, :after, :before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    background-color: transparent;
    color: #212121;
}
button, input, select, textarea:focus {
    outline: none;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
}
h3, h4 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h1, h2 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}
h2 {
    font-size: 1.62671rem;
}
h4 {
    font-size: 1rem;
}
h1{
    font-size: 2.25rem;
}
form, iframe, noscript {
    padding: 0;
    margin: 0 0 1.45rem;
}

ol, ul {
    padding: 0;
    list-style-position: outside;
    list-style-image: none;
}
ol li, ul li {
    padding-left: 0;
}

dd, dl, figure, p {
    padding: 0;
    margin: 0 0 1.45rem;
}
label {
    cursor: default;
}

.hfIis {
    max-width: 1280px;
    margin: 0px auto;
    width: 90%;
}

@media (min-width: 601px){
    .hfIis {
        width: 90%;
    }
}

@media (min-width: 993px){
    .hfIis {
        width: 80%;
    }
}

@media only screen and (max-width: 480px){
    html {
        font-size: 100%;
    }
    h1 {
        font-size: 1.5em;
    }
}